@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    letter-spacing: 1px;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Playfair Display", serif;
    color: #4A2C2A;
}

p {
    font-family: "Open Sans", sans-serif;
    color: #3C2F2F;
    text-align: justify;
}

body {
    background-color: #FDF6E3;
}

section {
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 320px) and (max-width: 480px) {

    /* code in this block will be applied only if device width>320 and <480 */
    article {
        margin: 10px 10px;
        width: calc(100vw - 20px);
        border: 1px solid #4A2C2A;
        padding: 10px;
    }

    h1 {
        font-size: 40px;
    }

    p {
        font-size: 23px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {

    /* code in this block will be applied only if device width>481 and <767 */
    article {
        margin: 10px 5px;
        width: calc((100vw/2) - 10px);
        border: 1px solid #4A2C2A;
        padding: 10px;
    }

    h1 {
        font-size: 36px;
    }

    p {
        font-size: 22px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    /* code in this block will be applied only if device width>768 and <1024 */
    article {
        margin: 10px 5px;
        width: calc((100vw/3) - 10px);
        border: 1px solid #4A2C2A;
        padding: 10px;
    }

    h1 {
        font-size: 34px;
    }

    p {
        font-size: 21px;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {

    /* code in this block will be applied only if device width>1025 and <1280 */
    article {
        margin: 10px 5px;
        width: calc((100vw/4) - 10px);
        border: 1px solid #4A2C2A;
        padding: 10px;
    }

    h1 {
        font-size: 32px;
    }

    p {
        font-size: 20px;
    }
}

@media (min-width: 1281px) {

    /* code in this block will be applied only if device width>1281 */
    article {
        margin: 10px 5px;
        width: calc((100vw/5) - 10px);
        border: 1px solid #4A2C2A;
        padding: 10px;
    }

    h1 {
        font-size: 32px;
    }

    p {
        font-size: 20px;
    }
}