doctype html
// about.html (About Us Page)
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Shrejii Restaurant - About Us
  body
    header
      h1 Shrejii Restaurant
      nav
        ul
          li
            a(href='index.html') Home
          li
            a(href='about.html') About Us
          li
            a(href='menu.html') Menu
          li
            a(href='book-hall.html') Book Hall
          li
            a(href='testimonials.html') Testimonials
    main
      section
        h2 About Us
        p
          | Shrejii Restaurant was founded in 2020 with a passion for delivering high-quality, traditional cuisine. Our team of expert chefs uses fresh ingredients to create dishes that delight the senses.
        p
          | We pride ourselves on our commitment to customer satisfaction and creating a welcoming atmosphere for all.
    footer
      p &copy; 2026 Shrejii Restaurant. All rights reserved.