doctype html
// about.html (About Us Page)
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Shrejii Restaurant - About Us
  body
    header
      h1 Shrejii Restaurant
      nav
        ul
          li
            a(href='/home') Home
          li
            a(href='/aboutus') About Us
          li
            a(href='/menu') Menu
          li
            a(href='/bookhall') Book Hall
          li
            a(href='/testimonials') Testimonials