doctype html
// index.html (Home Page)
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Shrejii Restaurant - Home
  body
    header
      h1 Shrejii Restaurant
      nav
        ul
          li
            a(href='index.html') Home
          li
            a(href='about.html') About Us
          li
            a(href='menu.html') Menu
          li
            a(href='book-hall.html') Book Hall
          li
            a(href='testimonials.html') Testimonials
    main
      section
        h2 Welcome to Shrejii Restaurant
        p
          | Experience the finest dining in town with authentic flavors and warm hospitality. Join us for an unforgettable meal!
    footer
      p &copy; 2026 Shrejii Restaurant. All rights reserved.