doctype html
// menu.html (Menu Page)
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Shrejii Restaurant - Menu
  body
    header
      h1 Shrejii Restaurant
      nav
        ul
          li
            a(href='index.html') Home
          li
            a(href='about.html') About Us
          li
            a(href='menu.html') Menu
          li
            a(href='book-hall.html') Book Hall
          li
            a(href='testimonials.html') Testimonials
    main
      section
        h2 Our Menu
        h3 Appetizers
        ul
          li Spring Rolls - $5.99
          li Garlic Bread - $4.99
        h3 Main Courses
        ul
          li Butter Chicken - $12.99
          li Vegetable Stir Fry - $10.99
        h3 Desserts
        ul
          li Chocolate Cake - $6.99
          li Ice Cream - $4.99
    footer
      p &copy; 2026 Shrejii Restaurant. All rights reserved.