include header.pug 
section.py-5
  .container
    h1.text-center.display-4.fw-bold.mb-5 Our Menu
    .row.g-4
      // Starters
      .col-12
        h2.text-center.mb-4.border-bottom.pb-2 Starters
      .col-md-6.col-lg-4
        .card.h-100.shadow-sm
          img.card-img-top(src='https://images.unsplash.com/photo-1606857521015-7f9fcf423740?ixlib=rb-4.0.3&auto=format&fit=crop&w=800&q=80', alt='Paneer Tikka')
          .card-body
            h5.card-title Paneer Tikka
            p.card-text Marinated cottage cheese grilled to perfection
            p.fw-bold.text-success &#x20B9; 280
footer.bg-dark.text-white.text-center.py-4
  p.mb-0 &copy; 2026 Shrejii Restaurant. All rights reserved.
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js', integrity='sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz', crossorigin='anonymous')