doctype html
html 
    head 
        title use of pipe sign 
    body 
        h1 use of dot operator 
        table(width="75%",align="center",border=2)
            tr 
                td(bgcolor="gray"). 
                    Name 
                td(bgcolor="gray"). 
                    Age 
                td(bgcolor="gray"). 
                    mobile 
            tr
                td.
                    Ankit <br/> 
                    Patel
                td. 
                    40
                td. 
                    1234567890
            tr 
                td. 
                    suraj <br/>
                    mehta 
                td. 
                    21
                td. 
                    234567890
