doctype html 
html 
    head 
        title use of pipe sign 
    body 
        h1 use of pip sign 
        <hr/>
        div 
            | this is 1st line <br/>
            | this is second line <br/>
            p 
                | this is 1st line in paragraph tag  <br/>
                | this is 2nd line in paragraph tag 
